/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar-list {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    display: flex; /* Make the list items display horizontally */
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-link {
    text-decoration: none;
    
    color: #000;
  }

  .navbar-item:hover {
    background-color: gray; /* Change the color when hovering */
  }